#### Get data
#####  1) datareader

##### Index data from Stooq

In [40]:
import pandas_datareader.data as web
web.DataReader("^TWSE", "stooq")

                Open      High       Low     Close        Volume
Date
2022-02-22  18159.51  18159.51  17840.38  17969.29           NaN
2022-02-21  18196.40  18253.10  18129.65  18221.49  4.537638e+09
2022-02-18  18250.37  18262.96  18098.52  18232.35  4.891354e+09
2022-02-17  18213.30  18330.63  18190.24  18268.57  5.119130e+09
2022-02-16  18109.17  18233.79  18109.17  18231.47  3.807291e+09
...              ...       ...       ...       ...           ...
2017-03-06   9647.00   9688.50   9647.00   9682.63  1.987666e+09
2017-03-03   9672.26   9679.82   9633.88   9648.21  2.276264e+09
2017-03-02   9727.60   9774.60   9646.34   9691.80  2.649706e+09
2017-03-01   9751.12   9758.78   9674.78   9674.78  2.580798e+09
2017-02-24   9757.67   9784.39   9740.18   9750.47  2.571593e+09

[1217 rows x 5 columns]

##### Economic data from FRED

In [41]:
import pandas_datareader.data as web
import datetime as dt
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2020, 12, 31)
web.DataReader(['CPIAUCSL', 'CPILFESL'], 'fred', start, end)

            CPIAUCSL  CPILFESL
DATE
2000-01-01   169.300   179.300
2000-02-01   170.000   179.400
2000-03-01   171.000   180.000
2000-04-01   170.900   180.300
2000-05-01   171.200   180.700
...              ...       ...
2020-08-01   259.580   268.662
2020-09-01   260.190   269.152
2020-10-01   260.352   269.332
2020-11-01   260.721   269.816
2020-12-01   261.564   269.984

[252 rows x 2 columns]

##### Factor data from Fama-French

In [42]:
from pandas_datareader.famafrench import get_available_datasets
import pandas_datareader.data as web
web.DataReader("North_America_3_Factors_Daily", "famafrench")

{0:             Mkt-RF   SMB   HML   RF
 Date
 2017-02-24    0.04 -0.02 -1.05  0.0
 2017-02-27    0.12  0.71 -0.57  0.0
 2017-02-28   -0.48 -1.02 -0.14  0.0
 2017-03-01    1.44  0.47  0.40  0.0
 2017-03-02   -0.69 -0.54 -0.88  0.0
 ...            ...   ...   ...  ...
 2021-12-27    1.17 -0.41  0.23  0.0
 2021-12-28   -0.23 -0.55  0.84  0.0
 2021-12-29    0.11 -0.20  0.48  0.0
 2021-12-30   -0.16  0.37 -0.38  0.0
 2021-12-31   -0.26  0.06  0.84  0.0

 [1266 rows x 4 columns],
 'DESCR': 'North America 3 Factors Daily\n-----------------------------\n\nThis file was created using the 202112 Bloomberg database. Missing data are indicated by -99.99. \n\n  0 : (1266 rows x 4 cols)'}

##### Stock data from yahoo finance

In [43]:
import pandas_datareader.data as web
import datetime as dt
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2020, 12, 31)
price = web.DataReader('AAPL', 'yahoo', start, end)
actions = web.DataReader('AAPL', 'yahoo-actions', start, end)
dividends = web.DataReader('AAPL', 'yahoo-dividends', start, end)
print(price, actions, dividends)

                  High         Low        Open       Close       Volume  \
Date
1999-12-31    0.918527    0.888393    0.901228    0.917969  163811200.0
2000-01-03    1.004464    0.907924    0.936384    0.999442  535796800.0
2000-01-04    0.987723    0.903460    0.966518    0.915179  512377600.0
2000-01-05    0.987165    0.919643    0.926339    0.928571  778321600.0
2000-01-06    0.955357    0.848214    0.947545    0.848214  767972800.0
...                ...         ...         ...         ...          ...
2020-12-24  133.460007  131.100006  131.320007  131.970001   54930100.0
2020-12-28  137.339996  133.509995  133.990005  136.690002  124486200.0
2020-12-29  138.789993  134.339996  138.050003  134.869995  121047300.0
2020-12-30  135.990005  133.399994  135.580002  133.720001   96452100.0
2020-12-31  134.740005  131.720001  134.080002  132.690002   99116600.0

             Adj Close
Date
1999-12-31    0.786033
2000-01-03    0.855797
2000-01-04    0.783644
2000-01-05    0.795111
2000-01-06    0.726304
...                ...
2020-12-24  130.994522
2020-12-28  135.679657
2020-12-29  133.873077
2020-12-30  132.731598
2020-12-31  131.709213

[5285 rows x 6 columns]               action     value
2020-11-06  DIVIDEND  0.205000
2020-08-31     SPLIT  0.250000
2020-08-07  DIVIDEND  0.205000
2020-05-08  DIVIDEND  0.205000
2020-02-07  DIVIDEND  0.192500
2019-11-07  DIVIDEND  0.192500
2019-08-09  DIVIDEND  0.192500
2019-05-10  DIVIDEND  0.192500
2019-02-08  DIVIDEND  0.182500
2018-11-08  DIVIDEND  0.182500
2018-08-10  DIVIDEND  0.182500
2018-05-11  DIVIDEND  0.182500
2018-02-09  DIVIDEND  0.157500
2017-11-10  DIVIDEND  0.157500
2017-08-10  DIVIDEND  0.157500
2017-05-11  DIVIDEND  0.157500
2017-02-09  DIVIDEND  0.142500
2016-11-03  DIVIDEND  0.142500
2016-08-04  DIVIDEND  0.142500
2016-05-05  DIVIDEND  0.142500
2016-02-04  DIVIDEND  0.130000
2015-11-05  DIVIDEND  0.130000
2015-08-06  DIVIDEND  0.130000
2015-05-07  DIVIDEND  0.130000
2015-02-05  DIVIDEND  0.117500
2014-11-06  DIVIDEND  0.117500
2014-08-07  DIVIDEND  0.117500
2014-06-09     SPLIT  0.142857
2014-05-08  DIVIDEND  0.117500
2014-02-06  DIVIDEND  0.108929
2013-11-06  DIVIDEND  0.108929
2013-08-08  DIVIDEND  0.108929
2013-05-09  DIVIDEND  0.108929
2013-02-07  DIVIDEND  0.094643
2012-11-07  DIVIDEND  0.094643
2012-08-09  DIVIDEND  0.094643
2005-02-28     SPLIT  0.500000
2000-06-21     SPLIT  0.500000               action     value
2020-11-06  DIVIDEND  0.205000
2020-08-07  DIVIDEND  0.205000
2020-05-08  DIVIDEND  0.205000
2020-02-07  DIVIDEND  0.192500
2019-11-07  DIVIDEND  0.192500
2019-08-09  DIVIDEND  0.192500
2019-05-10  DIVIDEND  0.192500
2019-02-08  DIVIDEND  0.182500
2018-11-08  DIVIDEND  0.182500
2018-08-10  DIVIDEND  0.182500
2018-05-11  DIVIDEND  0.182500
2018-02-09  DIVIDEND  0.157500
2017-11-10  DIVIDEND  0.157500
2017-08-10  DIVIDEND  0.157500
2017-05-11  DIVIDEND  0.157500
2017-02-09  DIVIDEND  0.142500
2016-11-03  DIVIDEND  0.142500
2016-08-04  DIVIDEND  0.142500
2016-05-05  DIVIDEND  0.142500
2016-02-04  DIVIDEND  0.130000
2015-11-05  DIVIDEND  0.130000
2015-08-06  DIVIDEND  0.130000
2015-05-07  DIVIDEND  0.130000
2015-02-05  DIVIDEND  0.117500
2014-11-06  DIVIDEND  0.117500
2014-08-07  DIVIDEND  0.117500
2014-05-08  DIVIDEND  0.117500
2014-02-06  DIVIDEND  0.108929
2013-11-06  DIVIDEND  0.108929
2013-08-08  DIVIDEND  0.108929
2013-05-09  DIVIDEND  0.108929
2013-02-07  DIVIDEND  0.094643
2012-11-07  DIVIDEND  0.094643
2012-08-09  DIVIDEND  0.094643